﻿@model DownloadPDF.Models.GeneratePDFModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../base.css">
</head>
<body>
    <div class="invoice">

        <div class="logo">
            <img src="@Model.PDFLogo" />
        </div>

        <div class="content">
            <h1>Invoice</h1>
            <div class="flex">

                <div>
                    <p>Invoice #1 – 25th May 2016</p>
                    <p class="br"></p>
                    <p>Contoso Corp</p>
                    <p>35th 20 Ave.</p>
                    <p>info@contoso.com</p>
                    <p>405-248-4440</p>
                </div>

                <div class="payee">
                    <strong>Billed to James Smith</strong>
                    <p>Company Name</p>
                    <p>Address One</p>
                    <p>Address Two</p>
                    <p>City</p>
                    <p>G33 33G</p>
                </div>

            </div>

            <table border=0>
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Rate ($)</th>
                        <th>Quantity</th>
                        <th>Price ($)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Item One</td>
                        <td>200.00 <small></small></td>
                        <td>10</td>
                        <td>2000.00</td>
                    </tr>
                    <tr>
                        <td>Item One</td>
                        <td>30.40 <small>p/h (optional)</small></td>
                        <td>90</td>
                        <td>2736.00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="r">Total Price</td>
                        <td>£4736.00</td>
                    </tr>
                </tfoot>
            </table>

            <div class="footer">
                <p>Please make payment to Contoso Corp by 5th June 2016.</p>
                <p>Payment can be made to Account Number <strong>15616498-15810</strong>, sort code – <strong>ABC12424</strong>.</p>
            </div>

        </div>

        @Html.Raw(Model.PDFContent)
    </div>
</body>
</html>