* {
  margin:0;
  font-family: "Helvetica Neue";
  font-weight: 300;
}

.invoice {
  background-color: white;
  margin: 100px auto;
  width:800px;
}

h1 {
  text-transform: uppercase;
  font-weight:100;
  letter-spacing: 0.4em;
  font-size:1.2em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

p {font-weight:300;}

p.br {
  border-top:1px solid #ccc;
  width:20px;
  margin:10px 0;
}

strong {font-weight:800;}

.payee {
  background:linear-gradient(to right, #f5f5f5 ,#fff);
  text-align:right;
  width:50%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex div {
  padding:10px 0 100px;
  font-size:0.8em; 
  border-bottom:1px solid #ccc;
  width:50%;
}

.logo img {
  width:200px;
  margin-bottom:50px;
}

p {margin: 2px 0;}

table {
  border-collapse:collapse;
  width:100%;
  margin:0px auto;
  text-align: left;
  margin-bottom:100px;}

thead th {font-weight: 800;}

tbody {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

tfoot tr td {font-weight:800;}

tr th:first-of-type, tr td:first-of-type {padding-left:0px;}

th, td {padding:10px;}

td.r {text-align: right;}

.footer {font-size:0.8em;}

@page {
  size: A4;
  margin: 15mm 20mm;
}

@media print {
  
  body {
  -webkit-print-color-adjust: exact;
  }

  .invoice {
    margin: 0px auto;
    box-shadow:none;
  }
  
}